VitalInfo
{
	font-family: Poppins;
	text-shadow: 1px 1px 5px black;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: left;

	.vitals
	{
		font-size: 50px;
		font-weight: 900;
		color: white;
		position: absolute;
		left: 0px;
		bottom: 0px;
		text-align: left;

		.hp
		{
			left: 250px;
			bottom: 100px;
		}

		.money
		{
			position: absolute;
			left: 250px;
			bottom: 32px;
			color: rgb(15, 170, 15);
			font-size: 24px;
		}
	}

	.healthbar
	{
		position: absolute;
		border: 2px solid white;
		left: 250px;
		bottom: 80px;
		width: 200px;
		height: 20px;
		box-shadow: 2px 2px 12px black;

		.bar
		{
			height: 100%;
			background-color: red;
		}
	}

	.info
	{
		z-index: -2;
		text-align: right;
		//padding: 13px 30px 10px 30px;
		font-size: 20px;
		font-weight: 575;
		width: 225px;
		height: 130px;
		color: white;
		position: absolute;
		right: 20px;
		bottom: 20px;
		//border: 6px solid rgb(104, 161, 226);
		//border-radius: 25% 25% 25% 25%;
		//background-color: rgba( #000, 0.2 );
		//box-shadow: 3px 3px 12px rgb(#000, 0.4);
		//overflow: hidden;
		transform: scaleX(0);
		transition: transform 0.5s ease-in;

		&.open
		{
			transform: scaleX(1);
		}

		label
		{
			position: absolute;
			right: 0px;
			bottom: 0px;
		}
	}

	avatarhud
	{
		z-index: -1;
		position: absolute;
		background-color: rgba(black, 0.2);
		left: 10px;
		bottom: 10px;
		width: 225px;
		height: 225px;
		border: 8px solid rgb(104, 161, 226);
		border-radius: 100%;//1% 100% 1% 0px;
	}

	.disclaimer
	{
		position: absolute;
		color: rgb(white, 0.5);
		text-shadow: 1px 1px 2px rgb(black, 0.4);
		font-weight: 200;
		font-size: 14px;
		text-align: center;
		bottom: 0px;
		left: 50%;
		transform: translate(-50%, 0%);
	}
}

AvatarHud
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 10%;
	height: 10%;
	//justify-content: bottom;
}

HeaderText
{
    width: 100%;
    font-family: Poppins;
    text-align: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 5px black;

    .header
    {
        top: 25px;
        font-size: 32px;
        font-weight: 600;
        position: absolute;
    }

    .subheader
    {
        top: 80px;
        font-size: 20px;
        font-weight: 500;
        position: absolute;
    }
}

Logo
{
	font-family: Poppins;
	font-size: 14px;
	font-weight: 100;
	color: white;
	position: absolute;
	transform-origin: 50% 50%;
	align-content: center;
	justify-content: center;
	width: 100%;
	height: 25px;
	opacity: 0.25;
	bottom: 0px;
}

DevTools
{
	font-family: Poppins;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	right: 25px;
	top: 25px;
	text-shadow: 1px 1px 5px black;
}

InventoryBar
{
	position: absolute;
	width: 100%;
	bottom: 48px;
	justify-content: center;
	align-items: flex-end;
}

InventoryIcon
{
	width: 80px;
	height: 80px;
	margin: 0px 2px;
	position: relative;
	transition: all 0.6s ease-in-out;
	margin-top: 10px;
	font-family: poppins;
	background-color: rgba( #333, 0.3 );
	backdrop-filter: blur( 50px );
	border-radius: 10px;

	.item-name
	{
		padding: 5px;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 10px;
		position: absolute;
		bottom: 0;
		opacity: 0.7;
		transition: all 0.5s ease-in-out;
		text-transform: uppercase;
		mix-blend-mode: lighten;
	}

	.slot-number
	{
		font-size: 25px;
		color: black;
		font-weight: 900;
		opacity: 0.3;
		position: absolute;
		top: 1px;
		right: 5px;
	}

	&.active
	{
		background-color: rgba( #3472e6, 1 );
		transition: all 0.1s ease-out;
		width: 100px;
		height: 100px;

		.slot-number
		{
			color: #fff;
			opacity : 1;
		}

		.item-name
		{
			opacity: 1;
			transition: all 0.1s ease-out;
			font-size: 13px;
		}
	}
}