.roundinfo
{
	position: absolute;
	z-index: 100;
	flex-direction: column;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 300;
	color: white;
	left: -40%;
	top: 0px;
	//width: 20%;
	//height: 100%;
	align-items: right;
	justify-content: right;
	opacity: 1;
	background-color: rgba( 0, 0, 0, 0.2 );
	transition: all 0.1s ease-in;
	transform: scale( 1.05 );
	transform-origin: 50% 50%;
	padding-top: 30px;
	padding-left: 30px;
  	padding-right: 30px;
	padding-bottom: 30px;
	border-radius: 0 0 10px 0;

	&.open
	{
		opacity: 1;
		transform: scale( 1 );
		left: 0%;
	}

	.name
	{
		flex-grow: 1;
	}

	.deaths, .kills, .ping
	{
		width: 90px;
		text-align: right;
	}

	.header
	{
		font-size: 32px;
		font-weight: 800;
		opacity: 1;
		border-bottom: 2px solid rgba( white, 0.6 );
		min-width: 30%;
	}

	.canvas
	{
		flex-direction: column;
		min-height: 50%;
		min-width: 30%;

		.entry
		{
			margin-bottom: 2px;
			padding: 4px;

			&.me
			{
				color: #b6ff00;
			}
		}
	}
}
