.sweep-tile-wrapper {
	// height: 100%;
	// width: 100%;
	
	padding: 5px;
	text-align: right;
	justify-content: center;
	border-radius: 10%;
	z-index: 1;
	transition: background-color .2s ease-in;
	&:hover{
		background-color: gray;
		&:active {
			background-color: black;
		}
	}
}
.sweep-tile {
	border-radius: 10%;
	padding-bottom: 5%;
	padding-right: 5%;
	font-weight: 700;
	flex-direction: column;
	justify-content: flex-end;
	align-self: center;
	height: 90%;
	width: 90%;
	background-color: gray;
	background-image: url("sprites\question-mark.png");
	background-repeat: no-repeat;
	background-position: 5%;
	background-size: 90%;
	// @include transition(.3s background-color ease-in);
	&.mine.revealed {
		background-color: red;
		background-image: url("sprites\mine.png");
	}
	&.money.revealed {
		background-color: yellow;
		background-image: url("sprites\money.png");
	}
}