.sweep-tile-wrapper {
	height: 20%;
	width: 20%;
	background-color: white;
	&:hover{
		border-radius: 10%;
		background-color: aqua;
	}
	&.revealed {
		background-color: chartreuse;
	}
}
.sweep-tile {
	border-radius: 10%;
	height: 90%;
	width: 90%;
	margin: 15px;
	background-color: black;
}