.roundinfo
{
	position: absolute;
	z-index: 100;
	flex-direction: column;
	font-family: Poppins;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	font-size: 18px;
	font-weight: 300;
	color: white;
	left: -40%;
	top: 0px;
	width: 20%;
	height: 100px;
	opacity: 0;
	transition: all 0.1s ease-in;
	//transform-origin: 50% 50%;
	padding-top: 20px;
	padding-left: 30px;
  	padding-right: 30px;
	padding-bottom: 30px;
	//border: 4px solid rgb(104, 161, 226);
	border-radius: 0% 0% 50% 0%;
	//box-shadow: 3px 3px 12px rgb(#000, 0.4);
	background-color: rgb(#000, 0.4);

	&.open
	{
		opacity: 1;
		left: 0px;
	}


	.round
	{
		flex-grow: 1;
	}
	
	.header
	{
		font-size: 32px;
		font-weight: 800;
		opacity: 1;
		//min-width: 30%;
		text-align: center;
		display: flex;
		flex-direction: column;


		.canvas
		{
			font-size: 18px;
			flex-direction: column;
			max-width: 15vw;
			opacity: 0;
			margin-top: 20px;
			overflow: hidden;
			text-align: center;
			width: 100%;

			.subheader
			{
				color: rgba( white, 0.6 );
				width: 100%;
				
				label
				{
					text-align: center;
					width: 100%;
				}
			}

			&.open
			{
				opacity: 1;
			}
		}
	}
}
